html *{
   font-size: 14px;
   color: black;
   font-family: Arial;
}
.header{
  text-align: center;
  background-color: red;
  display: block;
}
.footer{
  text-align: center;
  background-color: yellow;
}
.content{
  font-size: 14px;
  display: inline-block;
}
.sidebar{
  display: inline-block;
  background-color: black;
}
.navigation{
  display: inline-block;
  background-color: orange;
  font-size: 12px;
}
.header{
  font-size: 46px;
}
.footer, .sidebar{
  font-size: 10px;
}
*[class$="r"]{
  background-color: magenta;
}
*[class*="a"]:not([class$="r"]){
  background-color: blue;
}
