section{
  text-align: center;
}
.hide{
  display: none;
}
.colorRed{
  color: #FF0000;
}
#search, #name{
  height: 10%;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
